-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: percy_jackson_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Temporary view structure for view `active_demigods`
--

DROP TABLE IF EXISTS `active_demigods`;
/*!50001 DROP VIEW IF EXISTS `active_demigods`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `active_demigods` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `age`,
 1 AS `godly_parent`,
 1 AS `cabin_number`,
 1 AS `quests_completed`,
 1 AS `power_count`,
 1 AS `primary_weapon`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `books`
--

DROP TABLE IF EXISTS `books`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `books` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `book_number` int(11) NOT NULL,
  `publication_date` date DEFAULT NULL,
  `isbn` varchar(20) DEFAULT NULL,
  `page_count` int(11) DEFAULT NULL,
  `summary` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `title` (`title`),
  UNIQUE KEY `isbn` (`isbn`),
  CONSTRAINT `check_book_number` CHECK (`book_number` >= 1),
  CONSTRAINT `check_page_count` CHECK (`page_count` > 0)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `books`
--

LOCK TABLES `books` WRITE;
/*!40000 ALTER TABLE `books` DISABLE KEYS */;
/*!40000 ALTER TABLE `books` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `cabin_roster`
--

DROP TABLE IF EXISTS `cabin_roster`;
/*!50001 DROP VIEW IF EXISTS `cabin_roster`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `cabin_roster` AS SELECT 
 1 AS `cabin_number`,
 1 AS `patron_god`,
 1 AS `domain`,
 1 AS `member_count`,
 1 AS `members`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `cabins`
--

DROP TABLE IF EXISTS `cabins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cabins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cabin_number` int(11) NOT NULL,
  `patron_god_id` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `color_scheme` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cabin_number` (`cabin_number`),
  KEY `patron_god_id` (`patron_god_id`),
  CONSTRAINT `cabins_ibfk_1` FOREIGN KEY (`patron_god_id`) REFERENCES `gods` (`id`) ON DELETE CASCADE,
  CONSTRAINT `check_cabin_number` CHECK (`cabin_number` >= 1 and `cabin_number` <= 20)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabins`
--

LOCK TABLES `cabins` WRITE;
/*!40000 ALTER TABLE `cabins` DISABLE KEYS */;
INSERT INTO `cabins` VALUES (1,1,1,'Zeus\'s cabin','White and Blue'),(2,3,2,'Poseidon\'s cabin','Blue and Green'),(3,6,4,'Athena\'s cabin','Gray and Blue'),(4,11,8,'Hermes\'s cabin','Brown and Orange'),(5,7,6,'Apollo\'s cabin','Gold and Yellow');
/*!40000 ALTER TABLE `cabins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `character_power_summary`
--

DROP TABLE IF EXISTS `character_power_summary`;
/*!50001 DROP VIEW IF EXISTS `character_power_summary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `character_power_summary` AS SELECT 
 1 AS `id`,
 1 AS `character_name`,
 1 AS `age`,
 1 AS `godly_parent`,
 1 AS `total_powers`,
 1 AS `power_list`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `character_powers`
--

DROP TABLE IF EXISTS `character_powers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `character_powers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `character_id` int(11) NOT NULL,
  `power_id` int(11) NOT NULL,
  `proficiency_level` int(11) DEFAULT NULL CHECK (`proficiency_level` >= 1 and `proficiency_level` <= 10),
  `acquired_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `power_id` (`power_id`),
  KEY `idx_character_power` (`character_id`,`power_id`),
  CONSTRAINT `character_powers_ibfk_1` FOREIGN KEY (`character_id`) REFERENCES `characters` (`id`) ON DELETE CASCADE,
  CONSTRAINT `character_powers_ibfk_2` FOREIGN KEY (`power_id`) REFERENCES `powers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `character_powers`
--

LOCK TABLES `character_powers` WRITE;
/*!40000 ALTER TABLE `character_powers` DISABLE KEYS */;
INSERT INTO `character_powers` VALUES (1,1,1,10,NULL),(2,1,3,9,NULL),(3,1,6,8,NULL),(4,2,2,10,NULL),(5,5,4,9,NULL),(6,6,5,8,NULL);
/*!40000 ALTER TABLE `character_powers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `character_quest_history`
--

DROP TABLE IF EXISTS `character_quest_history`;
/*!50001 DROP VIEW IF EXISTS `character_quest_history`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `character_quest_history` AS SELECT 
 1 AS `character_id`,
 1 AS `character_name`,
 1 AS `quest_id`,
 1 AS `quest_title`,
 1 AS `role`,
 1 AS `quest_status`,
 1 AS `book_title`,
 1 AS `difficulty_level`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `characters`
--

DROP TABLE IF EXISTS `characters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `characters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `age` int(11) DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `parent_god_id` int(11) DEFAULT NULL,
  `cabin_id` int(11) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `first_appearance` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `cabin_id` (`cabin_id`),
  KEY `idx_character_name` (`name`),
  KEY `idx_character_parent_god` (`parent_god_id`),
  CONSTRAINT `characters_ibfk_1` FOREIGN KEY (`parent_god_id`) REFERENCES `gods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `characters_ibfk_2` FOREIGN KEY (`cabin_id`) REFERENCES `cabins` (`id`) ON DELETE SET NULL,
  CONSTRAINT `check_age` CHECK (`age` >= 0 and `age` <= 150)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `characters`
--

LOCK TABLES `characters` WRITE;
/*!40000 ALTER TABLE `characters` DISABLE KEYS */;
/*!40000 ALTER TABLE `characters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `god_family_trees`
--

DROP TABLE IF EXISTS `god_family_trees`;
/*!50001 DROP VIEW IF EXISTS `god_family_trees`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `god_family_trees` AS SELECT 
 1 AS `id`,
 1 AS `god_name`,
 1 AS `roman_name`,
 1 AS `domain`,
 1 AS `children_count`,
 1 AS `cabin_number`,
 1 AS `children_names`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `gods`
--

DROP TABLE IF EXISTS `gods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `roman_name` varchar(100) DEFAULT NULL,
  `title` varchar(200) DEFAULT NULL,
  `domain` varchar(100) DEFAULT NULL,
  `symbol` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_god_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gods`
--

LOCK TABLES `gods` WRITE;
/*!40000 ALTER TABLE `gods` DISABLE KEYS */;
/*!40000 ALTER TABLE `gods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `location_type` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `coordinates` varchar(100) DEFAULT NULL,
  `realm` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
INSERT INTO `locations` VALUES (1,'Camp Half-Blood','Camp','Training facility for Greek demigods on Long Island','40.8┬░N, 72.8┬░W','Mortal'),(2,'Mount Olympus','Divine Palace','Home of the Olympian gods, located on the 600th floor of the Empire State Building',NULL,'Olympus'),(3,'Underworld','Divine Realm','Realm of the dead ruled by Hades',NULL,'Underworld'),(4,'Lotus Hotel and Casino','Trap','Magical casino where time moves differently','Las Vegas, NV','Mortal');
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `monster_threat_assessment`
--

DROP TABLE IF EXISTS `monster_threat_assessment`;
/*!50001 DROP VIEW IF EXISTS `monster_threat_assessment`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `monster_threat_assessment` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `species`,
 1 AS `threat_level`,
 1 AS `total_encounters`,
 1 AS `times_defeated`,
 1 AS `defeat_rate_percentage`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `monsters`
--

DROP TABLE IF EXISTS `monsters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monsters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `species` varchar(100) DEFAULT NULL,
  `threat_level` varchar(20) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `weaknesses` text DEFAULT NULL,
  `abilities` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_monster_name` (`name`),
  CONSTRAINT `check_threat_level` CHECK (`threat_level` in ('low','medium','high','extreme'))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monsters`
--

LOCK TABLES `monsters` WRITE;
/*!40000 ALTER TABLE `monsters` DISABLE KEYS */;
/*!40000 ALTER TABLE `monsters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `powers`
--

DROP TABLE IF EXISTS `powers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `powers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `power_type` varchar(50) DEFAULT NULL,
  `power_level` int(11) DEFAULT NULL CHECK (`power_level` >= 1 and `power_level` <= 10),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `powers`
--

LOCK TABLES `powers` WRITE;
/*!40000 ALTER TABLE `powers` DISABLE KEYS */;
INSERT INTO `powers` VALUES (1,'Hydrokinesis','Control over water and related phenomena','Elemental',10),(2,'Strategic Mind','Enhanced tactical and strategic thinking','Mental',9),(3,'Swordsmanship','Master sword fighting ability','Physical',9),(4,'Lightning Control','Control over lightning and electricity','Elemental',10),(5,'Shadow Travel','Ability to travel through shadows','Elemental',8),(6,'Communication with Horses','Can speak with and understand horses','Mental',7);
/*!40000 ALTER TABLE `powers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prophecies`
--

DROP TABLE IF EXISTS `prophecies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prophecies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) DEFAULT NULL,
  `text` text NOT NULL,
  `speaker` varchar(100) DEFAULT NULL,
  `date_spoken` date DEFAULT NULL,
  `interpretation` text DEFAULT NULL,
  `fulfilled` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prophecies`
--

LOCK TABLES `prophecies` WRITE;
/*!40000 ALTER TABLE `prophecies` DISABLE KEYS */;
INSERT INTO `prophecies` VALUES (1,'The Great Prophecy','A half-blood of the eldest gods, shall reach sixteen against all odds. And see the world in endless sleep, the hero\'s soul, cursed blade shall reap. A single choice shall end his days, Olympus to preserve or raze.','The Oracle of Delphi','1993-01-01','Percy Jackson\'s destiny to save or destroy Olympus',1);
/*!40000 ALTER TABLE `prophecies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quest_monsters`
--

DROP TABLE IF EXISTS `quest_monsters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quest_monsters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `quest_id` int(11) NOT NULL,
  `monster_id` int(11) NOT NULL,
  `encounter_description` text DEFAULT NULL,
  `defeated` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `quest_id` (`quest_id`),
  KEY `monster_id` (`monster_id`),
  CONSTRAINT `quest_monsters_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quest_monsters_ibfk_2` FOREIGN KEY (`monster_id`) REFERENCES `monsters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quest_monsters`
--

LOCK TABLES `quest_monsters` WRITE;
/*!40000 ALTER TABLE `quest_monsters` DISABLE KEYS */;
INSERT INTO `quest_monsters` VALUES (1,1,1,'Percy fights the Minotaur to save his mother',1),(2,1,2,'Encounter with Medusa at her garden emporium',1),(3,1,3,'Battle with the Chimera at the St. Louis Arch',1);
/*!40000 ALTER TABLE `quest_monsters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quest_participants`
--

DROP TABLE IF EXISTS `quest_participants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quest_participants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `quest_id` int(11) NOT NULL,
  `character_id` int(11) NOT NULL,
  `role` varchar(100) DEFAULT NULL,
  `joined_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `character_id` (`character_id`),
  KEY `idx_quest_participant` (`quest_id`,`character_id`),
  CONSTRAINT `quest_participants_ibfk_1` FOREIGN KEY (`quest_id`) REFERENCES `quests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quest_participants_ibfk_2` FOREIGN KEY (`character_id`) REFERENCES `characters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quest_participants`
--

LOCK TABLES `quest_participants` WRITE;
/*!40000 ALTER TABLE `quest_participants` DISABLE KEYS */;
INSERT INTO `quest_participants` VALUES (1,1,1,'Leader','2005-06-15'),(2,1,2,'Strategist','2005-06-15'),(3,1,3,'Protector','2005-06-15'),(4,2,1,'Leader','2006-07-01'),(5,2,2,'Member','2006-07-01'),(6,3,1,'Leader','2007-12-15');
/*!40000 ALTER TABLE `quest_participants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `quest_statistics`
--

DROP TABLE IF EXISTS `quest_statistics`;
/*!50001 DROP VIEW IF EXISTS `quest_statistics`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `quest_statistics` AS SELECT 
 1 AS `id`,
 1 AS `title`,
 1 AS `status`,
 1 AS `difficulty_level`,
 1 AS `book_title`,
 1 AS `participant_count`,
 1 AS `monster_count`,
 1 AS `start_location`,
 1 AS `end_location`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `quests`
--

DROP TABLE IF EXISTS `quests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `description` text DEFAULT NULL,
  `objective` text DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `difficulty_level` int(11) DEFAULT NULL CHECK (`difficulty_level` >= 1 and `difficulty_level` <= 10),
  `start_location_id` int(11) DEFAULT NULL,
  `end_location_id` int(11) DEFAULT NULL,
  `book_id` int(11) DEFAULT NULL,
  `prophecy_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `start_location_id` (`start_location_id`),
  KEY `end_location_id` (`end_location_id`),
  KEY `book_id` (`book_id`),
  KEY `prophecy_id` (`prophecy_id`),
  KEY `idx_quest_status` (`status`),
  CONSTRAINT `quests_ibfk_1` FOREIGN KEY (`start_location_id`) REFERENCES `locations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `quests_ibfk_2` FOREIGN KEY (`end_location_id`) REFERENCES `locations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `quests_ibfk_3` FOREIGN KEY (`book_id`) REFERENCES `books` (`id`) ON DELETE SET NULL,
  CONSTRAINT `quests_ibfk_4` FOREIGN KEY (`prophecy_id`) REFERENCES `prophecies` (`id`) ON DELETE SET NULL,
  CONSTRAINT `check_quest_status` CHECK (`status` in ('pending','in_progress','completed','failed'))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quests`
--

LOCK TABLES `quests` WRITE;
/*!40000 ALTER TABLE `quests` DISABLE KEYS */;
INSERT INTO `quests` VALUES (1,'Retrieve Zeus\'s Master Bolt','Find and return Zeus\'s stolen lightning bolt','Prevent war between Zeus and Poseidon','2005-06-15','2005-06-30','completed',9,1,2,1,1),(2,'Save Camp Half-Blood','Find the Golden Fleece to heal Thalia\'s tree','Restore the camp\'s magical barrier','2006-07-01','2006-07-15','completed',8,1,NULL,2,NULL),(3,'Rescue Artemis and Annabeth','Save the goddess and Percy\'s friend from the Titans','Prevent Artemis from being held hostage','2007-12-15','2007-12-25','completed',9,NULL,NULL,3,NULL);
/*!40000 ALTER TABLE `quests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `weapon_arsenal`
--

DROP TABLE IF EXISTS `weapon_arsenal`;
/*!50001 DROP VIEW IF EXISTS `weapon_arsenal`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `weapon_arsenal` AS SELECT 
 1 AS `id`,
 1 AS `weapon_name`,
 1 AS `weapon_type`,
 1 AS `material`,
 1 AS `owner_name`,
 1 AS `owners_godly_parent`,
 1 AS `special_abilities`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `weapons`
--

DROP TABLE IF EXISTS `weapons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weapons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `weapon_type` varchar(50) DEFAULT NULL,
  `material` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `special_abilities` text DEFAULT NULL,
  `owner_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `owner_id` (`owner_id`),
  CONSTRAINT `weapons_ibfk_1` FOREIGN KEY (`owner_id`) REFERENCES `characters` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weapons`
--

LOCK TABLES `weapons` WRITE;
/*!40000 ALTER TABLE `weapons` DISABLE KEYS */;
INSERT INTO `weapons` VALUES (1,'Riptide','Sword','Celestial Bronze','Percy\'s legendary sword that always returns to his pocket','Returns to owner, deadly to monsters',1),(2,'Annabeth\'s Dagger','Dagger','Celestial Bronze','A gift from Luke, used for close combat','Balanced for throwing and close combat',2),(3,'Backbiter','Sword','Half Steel, Half Celestial Bronze','Luke\'s deadly blade that can harm both mortals and immortals','Can harm mortals and immortals',4);
/*!40000 ALTER TABLE `weapons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `active_demigods`
--

/*!50001 DROP VIEW IF EXISTS `active_demigods`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `active_demigods` AS select `c`.`id` AS `id`,`c`.`name` AS `name`,`c`.`age` AS `age`,`g`.`name` AS `godly_parent`,`cab`.`cabin_number` AS `cabin_number`,count(distinct `qp`.`quest_id`) AS `quests_completed`,count(distinct `cp`.`power_id`) AS `power_count`,`w`.`name` AS `primary_weapon` from (((((`characters` `c` join `gods` `g` on(`c`.`parent_god_id` = `g`.`id`)) left join `cabins` `cab` on(`c`.`cabin_id` = `cab`.`id`)) left join `quest_participants` `qp` on(`c`.`id` = `qp`.`character_id`)) left join `character_powers` `cp` on(`c`.`id` = `cp`.`character_id`)) left join `weapons` `w` on(`c`.`id` = `w`.`owner_id`)) where `c`.`status` = 'alive' group by `c`.`id`,`c`.`name`,`c`.`age`,`g`.`name`,`cab`.`cabin_number`,`w`.`name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `cabin_roster`
--

/*!50001 DROP VIEW IF EXISTS `cabin_roster`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `cabin_roster` AS select `cab`.`cabin_number` AS `cabin_number`,`g`.`name` AS `patron_god`,`g`.`domain` AS `domain`,count(`c`.`id`) AS `member_count`,group_concat(`c`.`name` separator ', ') AS `members` from ((`cabins` `cab` join `gods` `g` on(`cab`.`patron_god_id` = `g`.`id`)) left join `characters` `c` on(`cab`.`id` = `c`.`cabin_id`)) group by `cab`.`cabin_number`,`g`.`name`,`g`.`domain` order by `cab`.`cabin_number` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `character_power_summary`
--

/*!50001 DROP VIEW IF EXISTS `character_power_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `character_power_summary` AS select `c`.`id` AS `id`,`c`.`name` AS `character_name`,`c`.`age` AS `age`,`g`.`name` AS `godly_parent`,count(`cp`.`power_id`) AS `total_powers`,group_concat(`p`.`name` separator ', ') AS `power_list` from (((`characters` `c` left join `gods` `g` on(`c`.`parent_god_id` = `g`.`id`)) left join `character_powers` `cp` on(`c`.`id` = `cp`.`character_id`)) left join `powers` `p` on(`cp`.`power_id` = `p`.`id`)) group by `c`.`id`,`c`.`name`,`c`.`age`,`g`.`name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `character_quest_history`
--

/*!50001 DROP VIEW IF EXISTS `character_quest_history`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `character_quest_history` AS select `c`.`id` AS `character_id`,`c`.`name` AS `character_name`,`q`.`id` AS `quest_id`,`q`.`title` AS `quest_title`,`qp`.`role` AS `role`,`q`.`status` AS `quest_status`,`b`.`title` AS `book_title`,`q`.`difficulty_level` AS `difficulty_level` from (((`characters` `c` join `quest_participants` `qp` on(`c`.`id` = `qp`.`character_id`)) join `quests` `q` on(`qp`.`quest_id` = `q`.`id`)) left join `books` `b` on(`q`.`book_id` = `b`.`id`)) order by `c`.`name`,`b`.`book_number` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `god_family_trees`
--

/*!50001 DROP VIEW IF EXISTS `god_family_trees`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `god_family_trees` AS select `g`.`id` AS `id`,`g`.`name` AS `god_name`,`g`.`roman_name` AS `roman_name`,`g`.`domain` AS `domain`,count(distinct `c`.`id`) AS `children_count`,`cab`.`cabin_number` AS `cabin_number`,group_concat(`c`.`name` separator ', ') AS `children_names` from ((`gods` `g` left join `characters` `c` on(`g`.`id` = `c`.`parent_god_id`)) left join `cabins` `cab` on(`g`.`id` = `cab`.`patron_god_id`)) group by `g`.`id`,`g`.`name`,`g`.`roman_name`,`g`.`domain`,`cab`.`cabin_number` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `monster_threat_assessment`
--

/*!50001 DROP VIEW IF EXISTS `monster_threat_assessment`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `monster_threat_assessment` AS select `m`.`id` AS `id`,`m`.`name` AS `name`,`m`.`species` AS `species`,`m`.`threat_level` AS `threat_level`,count(`qm`.`id`) AS `total_encounters`,sum(case when `qm`.`defeated` = 1 then 1 else 0 end) AS `times_defeated`,round(sum(case when `qm`.`defeated` = 1 then 1 else 0 end) / count(`qm`.`id`) * 100,2) AS `defeat_rate_percentage` from (`monsters` `m` left join `quest_monsters` `qm` on(`m`.`id` = `qm`.`monster_id`)) group by `m`.`id`,`m`.`name`,`m`.`species`,`m`.`threat_level` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `quest_statistics`
--

/*!50001 DROP VIEW IF EXISTS `quest_statistics`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `quest_statistics` AS select `q`.`id` AS `id`,`q`.`title` AS `title`,`q`.`status` AS `status`,`q`.`difficulty_level` AS `difficulty_level`,`b`.`title` AS `book_title`,count(distinct `qp`.`character_id`) AS `participant_count`,count(distinct `qm`.`monster_id`) AS `monster_count`,`sl`.`name` AS `start_location`,`el`.`name` AS `end_location` from (((((`quests` `q` left join `books` `b` on(`q`.`book_id` = `b`.`id`)) left join `quest_participants` `qp` on(`q`.`id` = `qp`.`quest_id`)) left join `quest_monsters` `qm` on(`q`.`id` = `qm`.`quest_id`)) left join `locations` `sl` on(`q`.`start_location_id` = `sl`.`id`)) left join `locations` `el` on(`q`.`end_location_id` = `el`.`id`)) group by `q`.`id`,`q`.`title`,`q`.`status`,`q`.`difficulty_level`,`b`.`title`,`sl`.`name`,`el`.`name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `weapon_arsenal`
--

/*!50001 DROP VIEW IF EXISTS `weapon_arsenal`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `weapon_arsenal` AS select `w`.`id` AS `id`,`w`.`name` AS `weapon_name`,`w`.`weapon_type` AS `weapon_type`,`w`.`material` AS `material`,`c`.`name` AS `owner_name`,`g`.`name` AS `owners_godly_parent`,`w`.`special_abilities` AS `special_abilities` from ((`weapons` `w` left join `characters` `c` on(`w`.`owner_id` = `c`.`id`)) left join `gods` `g` on(`c`.`parent_god_id` = `g`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-11  9:16:39
